<div id="sobre" class="container-pricipal">
  <img src="/thays (1).png" alt="Foto de Thays Costa" class="foto-perfil">
    <h2 class="sobre"> Sobre Mim</h2>
      <p> Olá! seja bem vindo e bem vinda a minha página! 
          Me chamo Thays Costa, tenho 30 anos e sou uma desenvolvedora há 2 anos.
          Sou Desenvolvedora Front-End com foco em transformar ideias em experiências digitais. 
          Tenho conhecimento em em HTML, CSS e JavaScript, Angular e TypeScript. 
          Também possuo experiência com ferramentas como Git e GitHub, 
          o que me permite versionar e colaborar em projetos com eficiência. 
          Já atuei como freelancer e participei de projetos práticos e responsivos, 
          sempre buscando aplicar as melhores soluções focadas na qualidade do usuário. 
          Com experiência em metodologias ágeis como SCRUM, estou constantemente me atualizando na 
          área de tecnologia e me desafiando com novos projetos para aprimorar minhas habilidades. 
          Meu objetivo é desenvolver interfaces funcionais, 
          modernas e que entreguem a melhor experiência ao usuário.          
      </p>
</div>
