<div class="container-detalhe-projeto">
  <h2 class="titulo-projeto-detalhe">Conversor de Moedas</h2>

  <div class="img-detalhe-container">
    <img src="/conversorMoeda.png" alt="Banner do Projeto Conversor de moeda">
  </div>

  <p class="descricao-projeto">
    Este projeto foi desenvolvido juntamente com o instrutor Rodolfo Mori, do curso de Programação Full Stack da instituição de ensino
    DevClub, com o obejtivo de fixar os conhecimentos em JavaScript. Esse projeto apresenta uma interface moderna,
    responsiva e com foco em experiência do usuário.
  </p>

  <h3 class="subtitulo">Tecnologias Utilizadas:</h3>
  <ul class="tecnologias-utilizadas">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    
  </ul>

  <h3 class="subtitulo">Objetivo:</h3>
  <p class="descricao-projeto">
    O objetivo deste projeto foi criar um conversor de moedas que pudesse facilitar a conversão 
    de valores de Real para outras moedas, 
    tais como: Dólar, Euro e etc...
  </p>

  <div class="botoes-projeto">
    <a routerLink="/projetos" class="botao">← Voltar</a>
    <a href="https://github.com/Thayscosta95/Conversor-de-moeda" target="_blank" class="botao botao-github">Ver no GitHub</a>
  </div>
</div>

