<div class="container-detalhe-projeto">
  <h2 class="titulo-projeto-detalhe">JokenPô</h2>

  <div class="img-detalhe-container">
    <img src="/JokenPo.png" alt="Banner do Projeto JokenPô">
  </div>

  <p class="descricao-projeto">
    Este projeto foi desenvolvido juntamente com o instrutor Rodolfo Mori, do curso de Programação Full Stack da instituição de ensino
    DevClub, com o obejtivo de fixar os conhecimentos em JavaScript. Esse projeto apresenta uma interface moderna,
    responsiva e com foco em experiência do usuário.
  </p>

  <h3 class="subtitulo">Tecnologias Utilizadas:</h3>
  <ul class="tecnologias-utilizadas">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    
  </ul>

  <h3 class="subtitulo">Objetivo:</h3>
  <p class="descricao-projeto">
    O objetivo deste projeto foi criar um jogo divertido e tecnológico de JokenPô, 
    onde o usuário pode jogar contra o computador. 
  </p>

  <div class="botoes-projeto">
    <a routerLink="/projetos" class="botao">← Voltar</a>
    <a href="https://github.com/Thayscosta95/projeto-jokenPo" target="_blank" class="botao botao-github">Ver no GitHub</a>
  </div>
</div>


