<div class="container-detalhe-projeto">
  <h2 class="titulo-projeto-detalhe">Lash Designer</h2>

  <div class="img-detalhe-container">
    <img src="/lash.jpg" alt="Banner do Projeto Lash Designer">
  </div>

  <p class="descricao-projeto">
    Este projeto foi uma ideia pessoal, há um tempo atrás eu trabalhei como Lash designer e foi um período de muito aprendizado,
    inspirada no meu antigo trabalho, quis fazer uma agenda para facilitar os horários marcados dos clientes.
    Ao abrir a aplicação terá informações sobre o trabalho realizado, a história de como surgiu essa ideia de ser lash 
    designer, e também uma agenda para agendar os horários dos clientes.
   
  </p>

  <h3 class="subtitulo">Tecnologias Utilizadas:</h3>
  <ul class="tecnologias-utilizadas">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    
  </ul>

  <h3 class="subtitulo">Objetivo:</h3>
  <p class="descricao-projeto">
    O objetivo deste projeto foi criar um site de apresentação e juntamente a possibilidade de agendar um horário.
     
  </p>

  <div class="botoes-projeto">
    <a routerLink="/projetos" class="botao">← Voltar</a>
    <a href="https://github.com/Thayscosta95/Projeto-lash-designer" target="_blank" class="botao botao-github">Ver no GitHub</a>
    <a href="https://thayscosta95.github.io/Projeto-lash-designer/" target="_blank" class="botao botao-github">Ver no Git Pages</a>
  </div>
</div>



