<div id="projetos" class="container-projetos">
  <div class="projeto">
    <h2>Conversor de Moedas</h2>
    <div class="img-container">
      <img src="/conversorMoeda.png" alt="Imagem do projeto Conversor de Moedas">
    </div>
    <button class="botao" routerLink="/ver-projetos/conversor-moedas">Ver Projeto</button>
  </div>

  <div class="projeto">
    <h2>Memoteca</h2>
    <div class="img-container">
      <img src="/memoteca.png" alt="Imagem do projeto Memoteca">
    </div>
    <button class="botao" routerLink="/ver-projetos/memoteca">Ver Projeto</button>
  </div>

  <div class="projeto">
    <h2>JokenPô</h2>
    <div class="img-container">
      <img src="/JokenPo.png" alt="Imagem do projeto Joken Po">
    </div>
    <button class="botao" routerLink="/ver-projetos/jokenpo">Ver Projeto</button>
  </div>

  <div class="projeto">
    <h2>Mario Bros - Serviços</h2>
    <div class="img-container">
      <img src="/projetomario.png" alt="Imagem do projeto Mario Bros">
    </div>
    <button class="botao" routerLink="/ver-projetos/mario-servicos">Ver Projeto</button>
  </div>
</div>

