<div class="contato" id="contato">
  <h2 class="contact">{{ 'contact.title' | translate }}</h2>

 <div class="redes-sociais">
  <a href="https://wa.me/5511946118471" target="_blank" class="whatsapp">
    <img src="/ícone-whats.png" alt="WhatsApp"> WhatsApp
  </a>
  
  <a href="https://www.linkedin.com/in/thays-silva-costa/" target="_blank" class="linkedin">
    <img src="/ícone-in.png" alt="LinkedIn"> LinkedIn
  </a>

  <a href="https://github.com/Thayscosta95" target="_blank" class="github">
    <img src="/ícone-github.png" alt="GitHub"> GitHub
  </a>
</div>

  
</div>

