.tecnologias {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  cursor: pointer;
  
}

.tecnologia {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px;
  background-color: #111;
  border-radius: 12px;
  max-width: 1000px;
  box-shadow: 0 6px 12px rgba(255, 105, 180, 0.2);
}

.tecnologia img {
  width: 70px;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(40%) brightness(0.9);
}

.tecnologia img:hover {
  transform: scale(1.15);
  filter: grayscale(0%) brightness(1.1);
}

.tecnologia img {
  width: 70px;
  height: 70px;
  object-fit: contain; 
  border-radius: 8px;   
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(40%) brightness(0.9);
}

